@import url('https://fonts.googleapis.com/css?family=Baloo');
.caja{
  border: 2px solid #606060;
  width: 120px;
  height: 144px;
  border-radius: 10px ;
  display: inline-block;
  margin: auto 17px auto 0px;

}

.caja > p{
  color: black;
  font-family: 'Baloo';
  font-size: 36px;
  margin: 44px 0px 44px 17px; 
  align-content: center;
  
}

.cpar{
  background-color:  #f7fade;
}

.cimpar{
  background-color:  #dfedd6;
}

#cajas{
  overflow-x: scroll;
  white-space: nowrap;        
}
  
